*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
    text-align: center;
    color: whitesmoke;
}
h1
{
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container
{
    height: 40vh;
    /* background-color: blue; */
    /* width: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    height: 20vh;
    width: 20vh;
    margin: 5vh;
    border-radius: 100px;
    font-size: 5vh;
}
#scorecard
{
    /* background-color: yellow; */
    height: 20vh;
    width:  70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 65vh;
}

#Score
{
    /* background-color: blue; */
    width: 10vmin;
    width: 35vmin;
    background-color: rgb(15, 249, 101);
    font-size: 30px;
    /* margin-right: 5px; */

}
p{
    /* background-color: rgb(5, 25, 250); */
    width: 10vmin;
    width: 35vmin;
    background-color: rgb(8, 124, 139);
    font-size: 30px;
}
#restart
{
    width: 120px;
    height: 50px;
    background-color: rgb(92, 71,
     255);
     color: white;
     margin-top: 40px;
}
#result
{
    margin-top: 10px;
    
    background-color: palevioletred;
    margin-left: 80vh;
}