*{
    margin: 0%;
    padding: 0%;
}

body
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: brown;
}
h1{
    color: white;
}
#container
{
    /* background-color: aqua; */
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#game
{
    /* background-color: greenyellow; */
    height: 65vh;
    width: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;

}
#box
{
    width: 20vh;
    height: 20vh;
    background-color: aqua;
    border-radius: 5%;
    font-size: 100px;
}
h3{
    /* background-color: red; */
    font-size: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
    color: chartreuse;

}
#module
{
    /* background-color: blueviolet; */
    height: 10vh;
    width: 60vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
#reset
{
    width: 20vh;
    height: 8vh;
    background-color:black;
    color: aliceblue;
    font-size: 25px;
    
}
#new
{
    width: 25vh;
    height: 8vh;
   margin: 25px;
   
   background-color:black;
   color: aliceblue;
   font-size: 25px;
   

}

